  
<html>
    <head>

    </head>
    <body>

        <div>
        <p>ID: {{ sighting.Unique_Squirrel_ID }}<p>
        <p>ID: {{ sighting.Longitude }}<p>
        <p>Latitude: {{sighting.Latitude}}<p>
        <p>Shift: {{ sighting.Shift }}<p>
	<p>Date: {{sighting.Date}}<p>
	<p>Age: {{sighting.Age}}<p>
	<p> Primary_fur_color: {{sighting.Primary_fur_color}}<p>
	<p> Location: {{sighting.Location}}<p>
	<p> Specific_location: {{sighting.Specific_location}}<p>
	<p> Running: {{sighting.Running}}<p>
	<p> Chasing: {{sighting.Chasing}}<p>
	<p> Climbing: {{sighting.Climbing}}<p>
	<p> Eating: {{sighting.Eating}}<p>
	<p> Foraging: {{sighting.Foraging}} <p>
	<p> Other_Activities: {{sighting.Other_Activities}}<p>
	<p> Kuks: {{sighting.Kuks}} <p>
	<p> Quaas: {{sighting.Quaas}} <p>
	<p> Moans: {{sighting.Moans}} <p>
	<p>Tail_flags: {{sighting.Tail_flags}}<p>
	<p>Tail_twitches: {{sighting.Tail_twitches}}<p>
	<p>Approaches: {{sighting.Approaches}}<p>
	<p> Indifferent:{{sighting.Indifferent}}<p>
	<p> Runs_from {{sighting.Runs_from}}<p>

        <li><a href="{% sightings: 'index' %}" role ='button'><span>Return to home page</span></a></li>
       <li><a href="{% sightings: 'update' %}"><span>Update</span></a></li>


	
	
        </div>
    </body>
</html>
