<!DOCTYPE html>
	<html>
	<head>
	
        
	<title>The Statistics of squirrels in the Central Park</title>
	</head>
	<body>
	

	<h1>Statistics of squirrels in the Central Park</h1>
	<p><li>The total number of squirrels: {{stats1}}</p>
	<p><li>Number of squirrels running away when being spotted: {{stats2}}</p>
	<p><li>Number of squirrels climbing when being spotted: {{stats3}}</p>
	<p><li>Number of black squirrels: {{stats4}}</p>
	<p><li>Nuber of squirrels chasing when being spotted: {{stats5}}</p>
        <a href="{% url 'sightings:index' %}">Return to the home page!</a>
	</body>
	</html>
