  
<!DOCTYPE html>
<html>
<head>

<title>The Statistics of squirrels in the Central Park</title>
</head>
<body>

<h1>Statistics of squirrels in the Central Park</h1>
<p><li>Number of squirrels are {{adults}}</p>
<p><li>Number of squirrels are {{juveniles}}</p>
	<p><li>Number of squirrels are {{black}}</p>
<p><li>Number of squirrels are {{cinnamon}}</p>
	<p><li>Number of squirrels are {{grey}}</p>
	<p><li>Number of squirrels are {{running}} when being spotted</p>
	<p><li>Number of squirrels are {{chasing}} when being spotted</p>
	<p><li>Number of squirrels are {{climbing}} when being spotted</p>
	<p><li>Number of squirrels are {{eating}} when being spotted</p>
	<p><li>Number of squirrels are {{foraging}} when being spotted</p>
<a href="{% url 'sightings:index' %}">Return to the Home Page</a>
</body>
</html>
