<!DOCTYPE html>
<html>
<head>

<title>The Statistics of squirrels in the Central Park</title>
</head>
<body>

<h1>Statistics of squirrels in the Central Park</h1>
<p>Squirrels are adults</p>
<p>Squirrels are juveniles</p>
	<p>Squirrels are black</p>
<p>Squirrels are cinnamon</p>
	<p>Squirrels are grey</p>
	<p>Squirrels are running when being spotted</p>
	<p>Squirrels are chasing when being spotted</p>
	<p>Squirrels are climbing when being spotted</p>
	<p>Squirrels are eating when being spotted</p>
	<p>Squirrels are foraging when being spotted</p>
</body>
</html>
